bd_results_and_environmental_metadata.csv
RIBBiTR_bd_swabs_from_2023_and_2024.csv
sampling-species-per-time-period-spring2023-present.csv
output/interactive_capture_plot_by_year_Penn_files*
interactive_capture_plot_by_year_Penn.docx
interactive_capture_plot_by_year_Penn.html
interactive_capture_plot_by_year_Penn.tiff
interactive_capture_plot_by_year_Penn_files
